
.wrapper { margin: 60px 0; }
.panel-status { margin-top: 60px; }
.brand-collapse img { height: 38px; }

.navbar-brand img {
  height: 90px;
  margin-top: -8px;
}

@media (max-width: 767px) {
  .panel-status, .wrapper { margin-top: 60px; }
}
