
body {
  background-color: #222;
  color: #fff;
}

body .status-page {
  background-color: #fff;
  color: #111;
}

.wrapper { margin: 60px 0; }
.panel-status { margin-top: 0; }
.brand-collapse img { height: 38px; }
.top-header-spacing { margin-top: 45px;display: block;clear:both;}

.navbar-brand img {
  height: 90px;
  margin-top: -8px;
}

@media (max-width: 767px) {
  .panel-status, .wrapper { margin-top: 0; }
  .top-header-spacing { margin-top: 110px; display: block; }
}

.uppercased {
  text-transform: uppercase;
  text-decoration: underline;
}

.firsts {
  background-color: rgb(234, 55, 104);
}

.seconds {
  background-color: rgb(245, 133, 29);
}

.thirds {
  background-color: rgb(53, 201, 137);
}

.mast-container {}

.mast {
  font-size: 60px;
  border-bottom: 1px solid #555;
  padding: 0 20px 15px 20px;
  margin-bottom: 40px;
  line-height: 0.85;
  text-transform: none;
  font-weight: 600;
}

.sub-mast {
  padding: 0 20px;
}

.mast-copy {
  padding: 0 20px;
  margin-bottom: 40px;
  font-size: 18px;
}

.link,
.link:hover,
.link:visited {
  color: #fff;
}

.unlink,
.unlink:hover {
  text-decoration: none;
  color: #fff;
}

.app-link,
.app-link:hover {
  text-decoration: underline;
}

.footer-links {
  list-style-type: none;
  padding: 0;
}

.footer-link,
.footer-link:hover {
  text-decoration: underline;
}

.app-list {
  list-style-type: none;
  padding: 0;
}

.app-item {
  color: #fff;
  display: block;
  padding: 20px 20px 25px 20px;
  margin: 10px 0;
}

.app-name {
  display: block;
  margin-top: 0;
  font-size: 36px;
  margin-bottom: 5px;
  font-weight: 600;
}

.app-desc {
  display: block;
  font-size: 17px;
}

.app-link,
.app-link:hover {
  text-decoration: none;
}

.apps-footer {
  border-top: 1px solid #555;
  padding: 40px 20px 0 20px;
  margin: 0 0 40px 0;
}

.whitelist-apps {
  background-color: #222;
  padding-bottom: 0;
}

.whitelist-apps-list {
  list-style-type: none;
  padding: 0;
}

.whitelist-header {
  margin-bottom: 40px;
}

.whitelist-app {
  margin-bottom: 40px;
}

.whitelist-app-name {
  font-size: 24px;
}
