/* begin base */
  /*base background colours*/
  /*background fill off-white F5F5F5*/
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #f5f5f5;
    color: #555555;
    font: 16px/1 Raleway;
  }

  main {}

  a {}

  * + * {
    /*border: 1px solid crimson;*/
  }
/* end base */

/* begin swatch */
  .swatch {
    width: 100%;
    line-height: 0;
  }

  .swatch * {
    display: inline-block;
    height: 5px;
  }

  .w-33 { width: 33%; }
  .w-26 { width: 26%; }
  .w-10 { width: 10%; }
  .w-5  { width: 5%;  }

  .swatch-green  { background-color: #008d54; }
  .swatch-teal   { background-color: #00e5a8; }
  .swatch-purple { background-color: #9b0069; }
  .swatch-yellow { background-color: #fff16a; }
  .swatch-orange { background-color: #ff9700; }
/* end swatch */

/* begin top bar */

/* end top bar*/

/* begin did you know */

/* end did you know */

/* begin select a topic */
  /*pictograms colours*/
  /*text header grey 565656*/
  /*family fill teal 00D8C5*/
  /*pregnancy fill purple B80087*/
  /*newborn fill lilac A186FF*/
  /*breastfeeding fill green A186FF*/
  /*diseases fill orange FFA300*/
  /*information fill teal 00D8C5*/
/* end select a topic */

/* begin healthcare worker training */
  /*healthcare worker training colours*/
  /*fill lilac A28FEB*/
  /*text white ffffff*/
/* end healthcare worker training */

/* begin back to top */
  /*back to top colours*/
  /*up arrow stroke 555555*/
  /*text grey 545454*/
/* end back to top */

/* begin menu */
  /*menu colours*/
  /*header fill teal 00C3B0*/
  /*menu item fill cyan 00D8C5*/
  /*header right hand separator stroke 00D7C5*/
  /*menu item separator stroke 74E8DD*/
/* end menu */

/* begin copyright */
  /*copyright colours*/
  /*text grey 555555*/
/* end copyright */
