extends ./apps_base.jade

block title
  title Not Found | Mama Connect

block content

  p(class="select-a-topic")

  div(class="medium-meta")
    h3(class="medium-name") Page not found
    p(class="medium-description") The page you were looking for doesn't exist. #[a(href="/", class="medium-source-link") Click here] to return to the home page.
