extends ./apps_base.jade

block title
  title Mama Connect

block content



  p(class="select-a-topic") Healthcare Worker Training

  div(id="hcwt-banner"): a(href="/healthcare-worker-training")
    img(src="/static/img/icons/healthcare_bg_notext.png")

  p(class="select-a-topic") Select a topic

  ul(class="home-menu")
    each category in categories
      li: a(href="/healthcare-worker-training/#{category.uri}")
        span(class="icon", style="background-image: url(#{category.thumbnail})")
        span(class="title") #{category.name}
