extends ./apps_base.jade

block title
  title Not Found | Mama Connect

block content

  div(class="notfound-meta")
    span(class="notfound-icon", style="background-image: url(/static/img/icons/general-information-100x100.png)")
    h3(class="notfound-heading") Page not found
