extends ./apps_base.jade

block title
  title Mama Connect

block content

  p welcome to #{medium.name}
  p this medium is #{medium.size}
  p this medium is #{medium.available ? '' : 'not'} available

  video(src='http://data.goddard.com/media/' + medium.uri, controls)
  a(download, href='http://data.goddard.com/media/' + medium.uri) download this video
