extends ./base.jade

block title
  title Mama Connect

block content

  div(class="mast-container")
    h1(class="mast"): a(href="/", class="link unlink") Mama Connect
    h4(class="sub-mast") Welcome!
    p(class="mast-copy") This free clinic service offers you expert health information from early pregnancy to baby's first birthday. You can also log in to other great Health services.

  if error && !apps
    div(class="error-container")
      h2 JSON Error
        p= error.message

  else

    ul(class="app-list")

      each app in apps

        if !app.internal

          li(class="app-item")

            h2(class="app-name")= app.name
            p(class="app-desc")= app.description
            a(class="app-link link", href='http://' + app.domain, role="button") View Site

  footer(class="apps-footer")

    ul(class="footer-links")
      li: a(href="/", class="link footer-link") Home
      li: a(href="/", class="link footer-link") List Of Sites
      li: a(href="/contact-us", class="link footer-link") Contact Us

    p Copyright 2015 Mama Connect, All Rights Reserved

  script.
    (function() {
      var x = 0, apps = document.querySelectorAll('.app-item');

      for (var app in apps) {
        if (app === 'length') break;

        if (x === 0) {
          apps[app].classList.add('firsts');
        } else if (x === 1) {
          apps[app].classList.add('seconds');
        } else {
          apps[app].classList.add('thirds');
        }
        x = x === 2 ? 0 : x + 1;
      }
    }).call(this);
