extends ./thenewapps_base.jade

block title
  title Mama Connect

block content

  p(class="select-a-topic") Select a topic
  ul(class="home-menu")
    each option in menu
      li: a(href=option.uri)
        span(class="icon")
        span(class="title") #{option.name}
