extends ./thenewapps_base.jade

block title
  title Mama Connect

block content

  //- menu (array of objects)
  //- category (object)

  p.select-a-topic Select a topic
  ul.home-menu
    each option in menu
      li
        a(href=option.uri)
          span.icon
          span #{option.name}

  //- p welcome to #{category.name}
